.contact_form__wrapper {
  box-sizing: border-box;
  form {
    input,
    textarea {
      padding: $base-padding;
      border-radius: $base-border-radius;
      width: calc(100% - ($base-padding * 2) - 4px);
      outline: none;
    }
    textarea {
      resize: none;
      overflow: auto;
    }
    .error_message {
      color: #ff7373;
    }
    .contact_submit__buttton {
      padding: $base-padding/2 $base-padding;
      border-radius: $base-border-radius;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }

    .send_info {
      color: #00c9ad;
    }

    .button_loading {
      opacity: 60%;
      cursor: not-allowed;
    }
  }
}
