.hero__img {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero__text {
    // position: absolute;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    height: 100vh;
  }

  .arrow {
    position: absolute;
    color: white;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
