.navbar {
  box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
  padding: 0.75rem 0rem;
  width: 100%;
  position: fixed;
  z-index: 99;
  // position: fixed;
  // width: 100%;
  // z-index: 99;
  div {
    ul {
      .burger_menu__icon {
        cursor: pointer;
      }
      li {
        a {
          cursor: pointer;
        }
      }
    }
  }

  ul.mobile_nav {
    .close_nav__button {
      text-align: right;
    }
    li {
      i {
        cursor: pointer;
      }
      a {
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
}
