// colors palette
// $primary: #326dee;
// $secondary: #1ac886;
// $third: #111111;
// $error: #d32752;
// $info: #f6c31c;

// main colors
$primary: #7d6d61;
$secondary: #b2a094;
$third: #ffeace;
$fourth: #00c9ad;

$white: white;
$gray-light: #252934;
$gray-dark: #1b242f;
// $gray-light: #286074;
// $gray-dark: #2f4858;
$error: #d32752;
$info: #f6c31c;

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
  "fourth": $fourth,
  "gray-light": $gray-light,
  "gray-dark": $gray-dark,
  "white": $white,
  "error": $error,
  "info": $info,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
$big-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
